BACKEND_API_URL=http://localhost:13000
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:13000/api
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:13000/ws
NEXT_PUBLIC_OTEL_EXPORTER_URL=http://localhost:4318/v1/traces
NEXT_PUBLIC_OTEL_SERVICE_NAME=gate-frontend-browser
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=gate-frontend
NODE_ENV=development
