# Environment
ENV=production
NODE_ENV=production

# Backend Configuration
BACKEND_ADDRESS=0.0.0.0:8080
BACKEND_PRIVATE_ADDRESS=0.0.0.0:8081

# Postgres Configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
# Default maintenance DB
POSTGRES_DB=postgres
# Specific databases
POSTGRES_APP_DB=prod_app
POSTGRES_KRATOS_DB=prod_kratos

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=YOUR_REDIS_PASSWORD
REDIS_DB_INDEX=2

# NATS Configuration
NATS_HOST=nats
NATS_PORT=4222

# Kratos Service URLs (Public/Admin)
KRATOS_PUBLIC_URL=http://kratos:4433
KRATOS_ADMIN_URL=http://kratos:4434

# Frontend URLs
NEXT_PUBLIC_APP_URL=https://gate149.ru
BACKEND_API_URL=http://backend:8080
WEBSOCKET_URL=wss://gate149.ru/ws
